.hide { visibility: hidden; }
.hide2b { display: none; } 
.center { text-align: center; }

div { border: 1px solid grey; }
span { border: 1px solid darkblue; }
td { border: 1px solid green; }

[draggable] { user-select: none; cursor: move; }
.over {	border: 1px dashed #000; }

.polaritymatch { color: darkgreen; }
.polarityconflict { color: darkred; }

.slotpolarity { position: absolute; display: inline-block; width: 1em; left: 0; top: 0; text-align: left; padding: 3px; }
.slotcost { position: absolute; display: inline-block; width: 3em; right: 0; top: 0; text-align: right; padding: 3px; }
.slotrank { position: absolute; top: 0; width: 100%; }
.slotname { position: absolute; font-size: larger; margin-bottom: 5px; width: 100%; top: 1em; }
.sloteffects { position: absolute; width: 100%; top: 3em; }
.slotcategory { font-size: smaller; position: absolute; bottom: 0; width: 100%; }


.modSlot { display: flex; flex-direction: column; flex: 1 0 21%; height: 150px; text-align: center; position: relative; }
.modSlotPolarity { position: absolute; left: 0; top: 0; padding: 3px; width: 1em; }
.modUsage { position: absolute; right: 0; top: 0; padding: 3px; }
.modName { font-size: larger; }
.modContent { padding-top: 3px; flex-grow: 1; }
.modGroup { font-size: smaller; }

.editorInventoryHeader { display: flex; flex-direction: row; }
.editorInventoryHeader span { flex: 0; }
.editorInventoryHeader div { flex: 1; text-align: center; }

#editorWeaponHeader { text-align: center; }
#editorWeaponName { font-size: X-Large; font-weight: bold; }
#editorWeaponBody {	display: flex; flex-direction: row; }
#editorWeaponStatsSimple { white-space: nowrap; }
#editorWeaponStatsSimple tr td:nth-child(2) { text-align: right; }
#editorWeaponModding { flex-grow: 1; }
#editorWeaponModSlots { display: flex; flex-flow: row wrap; }

.editorInventoryListing {
	display: flex;
	flex-flow: column wrap;
	min-height: 0;
	height: 110px;
	align-content: flex-start;
	overflow-x: auto;
}
.modTile {
	display: inline-block;
	text-align: right;
	margin: 3px;
}

.modTile span { font-size: smaller; }
.modTile div { text-align: center; padding: 2px; }

.modTileVisibilityOverride { display: none; }